
body{
    background-color: #213145;
    
}

.kw{
    user-select: none;
    width: 300px;
    height: 200px;
    overflow: hidden;
    color: #213145 !important;
    position: absolute;
    left: 0;
}
a {
    color: white !important; 
}
div.navindex ul{
    list-style-type: none !important;
}
div.navindex.ul.li a{
    color: white;
}
#footer{
    display: flex;
    justify-content: space-around;
}

div.loading-wrap{
    position: fixed;
    background-color: rgba(10,10,10,0.8);
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}
 body{

     background-color: #213145;
     margin: 0px;
 }
.navindex ul li{
    margin-left: 20px;
    
}
.navindex ul li *{
    color: white;
}
 h1#headingTitle{
     text-align: center;
     color: white;

 }
 li.base_name_infor{
     box-sizing: unset;
 }
 p.invalid{
     border-color: brown !important;
 }




@media only screen and (min-width : 320px) {
  ul{
 padding: 0;
 display : flex;
 flex-flow: column;
 height: auto;
 margin-bottom: 100px;

 }
    p.input_user{
        
        border-radius: 5px;
        border: 2px solid white;
        background-color: rgba(255,255,255,1);
        text-align: center;
        width: 100%;
        margin: auto auto;
        margin-top: 15%;
        
        line-height: 50px;
        font-size: 30px;
        color: #454545;
        
    }
    
    p.input_user input{
        border-radius: 5px;
        border: 2px solid white;
        outline: none;
        text-align: center;
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        height:auto;
        color: #454545;
        
    }
    
    li.base_name_infor{
        border: 2px solid white;
        border-radius: 5px;
        list-style: none;            
        margin: 0 auto 30 auto;       
        background-color: white;
        width: 300px;
        max-width: 305px;
        height: auto;
    }
    span.base_name{
        background-color: #213145;
        color: white;
        display: inline-block;
        width: 300px;
        line-height: 40px;
        text-align: center;
        height: 40px;
        font-size: 14;
        font-weight: 700;
        font-family: 'Roboto', sans-serif; 
    }
    p.value{
        font-size: 20px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        overflow-wrap: break-word;
        overflow: visible !important;
        width: 300px;
        height: auto;
        
    }
    div#select_wrap{
        
        display: flex;
        justify-content: flex-end;
    }
    select{
        outline: none;
        height: 40px;
        background-color: #213145;
        color: white;
        cursor: pointer;
    }
    select:hover{
        background-color: #454545;
    }
    select *{
        cursor: pointer;
        font-size: 20px;
        
    }
    div#foot{
       position: relative;
         z-index: 50;
         height: 50px;
         width: 100%;
         background-color: white;
         bottom: 0px;
         margin: 0;
         display: flex;
         justify-content: space-between;
         clear: both;
        

    }
    div#foot address span {
        font-size: 20px;
    }
    div#bases_info{
        margin-top: 50px;
        
    }
}


@media only screen  and (min-width : 1024px) {
 


 div#bases_info{
     border: 2px solid #213145;
 } 
 ul{
    
     padding: 0;
     display : flex;
     
     flex-flow: row;
     flex-wrap: wrap;

     justify-content: space-around;
     height: auto;
 } 
 
     p.input_user{
        
         border-radius: 5px;
         border: 2px solid white;
         background-color: rgba(255,255,255,1);
         text-align: center;
         width: 670px;
         margin: auto auto;
         margin-top: 5%;
         height: 50px;
         line-height: 50px;
         font-size: 30px;
         color: #454545;
     }
     
     p.input_user input{
         border-radius: 5px;
         border: 2px solid white;
         outline: none;
         text-align: center;
         width: 670px;
         height: 50px;
         line-height: 50px;
         font-size: 30px;
         color: #454545;
     }
     
     li.base_name_infor{
         border: 2px solid white;
         border-radius: 5px;
         list-style: none;            
         display: inline-block;
         background-color: white;
         width: 300px;
         max-width: 305px;
         height: auto;
     }
     span.base_name{
         background-color: #213145;
         color: white;
         display: inline-block;
         width: 300px;
         line-height: 40px;
         text-align: center;
         height: 40px;
         font-size: 14;
         font-weight: 700;
         letter-spacing: 2px;
         font-family: 'Roboto', sans-serif;
         
     }
     p.value{
         font-size: 20px;
         text-align: center;
         font-family: 'Roboto', sans-serif;
         overflow-wrap: break-word;
         overflow: visible !important;
         width: 300px;
         height: auto;
         
     }
     div#select_wrap{
         
         display: flex;
         justify-content: flex-end;
     }
     select{
        
         outline: none;
         height: 40px;
         background-color: #213145;
         color: white;
         cursor: pointer;
     }
     select:hover{
         background-color: #454545;
     }
     select *{
         cursor: pointer;
         font-size: 40px;
     }
     div#foot{
         position: relative;
         z-index: 50;
         height: 50px;
         width: 100%;
         background-color: white;
         bottom: 0px;
         margin: 0;
         display: flex;
         justify-content: space-between;
         clear: both;
     }
     div#foot address span {
         font-size: 20px;
     }
     div#bases_info{
         margin-top: 10px;
         
     }
}
